/* Foundation Icons General */
@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url('fonts/foundation-icons-general.eot');
  src: url('fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('fonts/foundation-icons-general.woff') format('woff'),
       url('fonts/foundation-icons-general.ttf') format('truetype'),
       url('fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Foundation Icons Social */
@font-face {
    font-family: 'FoundationIconsSocial';
    src: url('fonts/foundation-icons-social.eot');
    src: url('fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         url('fonts/foundation-icons-social.woff') format('woff'),
         url('fonts/foundation-icons-social.ttf') format('truetype'),
         url('fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Foundation Icons General Enclosed */
@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: url('fonts/foundation-icons-general-enclosed.eot');
    src: url('fonts/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         url('fonts/foundation-icons-general-enclosed.woff') format('woff'),
         url('fonts/foundation-icons-general-enclosed.ttf') format('truetype'),
         url('fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* CSS to style glyphs */
.glyph { line-height: 1; font-weight: normal; }
.glyph.general { font-family: "FoundationIconsGeneral"; }
.glyph.social { font-family: "FoundationIconsSocial"; }
.glyph.enclosed { font-family: "FoundationIconsGeneralEnclosed"; }